NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://rpc.sepolia.org
NEXT_PUBLIC_INTENT_NETWORK_CONTRACT_ADDRESS=
NEXT_PUBLIC_DISCLOSURE_REGISTRY_CONTRACT_ADDRESS=
NEXT_PUBLIC_SAFE_MODULE_CONTRACT_ADDRESS=
NEXT_PUBLIC_DEPLOYMENT_START_BLOCK=0
